In [382]:
import numpy as np
import pandas as pd

In [395]:
meo = pd.read_csv('meo_df_setup_125_date_2020-12-07.csv')

C:\Users\consultant136\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (18,24,29,50,53,55,56,65,84,158,160,190) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [396]:
meo = meo.drop('Unnamed: 0',1)

In [397]:
meo2 = meo[meo['ViewData.Status'].isin(['OB','SMB','SPM','UMB'])]
meo2 = meo2.reset_index().drop('index',1)

In [398]:
meo2['ViewData.Net Amount Difference Absolute'] = np.round(meo2['ViewData.Net Amount Difference Absolute'],2)

In [399]:
abs_amount_count = meo2['ViewData.Net Amount Difference Absolute'].value_counts().reset_index()

In [400]:
duplicate_amount = abs_amount_count[abs_amount_count['ViewData.Net Amount Difference Absolute']==2]
duplicate_amount.columns = ['ViewData.Net Amount Difference Absolute','count']
duplicate_amount = duplicate_amount.reset_index().drop('index',1)

In [401]:
if duplicate_amount.shape[0]>0:
    meo3 = meo2[meo2['ViewData.Net Amount Difference Absolute'].isin(duplicate_amount['ViewData.Net Amount Difference Absolute'].unique())]
    meo3 = meo3.reset_index().drop('index',1)
    meo3 = meo3.sort_values(by='ViewData.Net Amount Difference Absolute')
    meo3 = meo3.reset_index().drop('index',1)
    
    smb_amount = meo3[meo3['ViewData.Status'].isin(['SMB'])]['ViewData.Net Amount Difference Absolute'].unique()
    umb_amount = meo3[meo3['ViewData.Status'].isin(['UMB'])]['ViewData.Net Amount Difference Absolute'].unique()
    
    smb_ob_table = meo3[meo3['ViewData.Net Amount Difference Absolute'].isin(smb_amount)]
    umb_ob_table = meo3[meo3['ViewData.Net Amount Difference Absolute'].isin(umb_amount)]
    
    ob_breakid = []
    smb_breakid = []
    for amount in smb_amount:
        ob = smb_ob_table[(smb_ob_table['ViewData.Net Amount Difference Absolute']==amount) & (smb_ob_table['ViewData.Status']=='OB')]
        smb = smb_ob_table[(smb_ob_table['ViewData.Net Amount Difference Absolute']==amount) & (smb_ob_table['ViewData.Status']=='SMB')]
        if ob.shape[0]==1 and smb.shape[0]==1:
            ob_breakid.append(ob['ViewData.BreakID'].values)
            smb_breakid.append(smb['ViewData.BreakID'].values)
            
    if len(ob_breakid)>0:
        final_smb_ob_table = pd.DataFrame(ob_breakid)
        final_smb_ob_table.columns = ['BreakID_OB']
        final_smb_ob_table['BreakID_SMB'] = smb_breakid
        final_smb_ob_table['BreakID_SMB'] = final_smb_ob_table['BreakID_SMB'].apply(lambda x: str(x).replace("[",''))
        final_smb_ob_table['BreakID_SMB'] = final_smb_ob_table['BreakID_SMB'].apply(lambda x: str(x).replace("]",''))
        final_smb_ob_table['BreakID_SMB'] = final_smb_ob_table['BreakID_SMB'].astype(int)
    else:
        final_smb_ob_table = pd.DataFrame()
else:
    final_smb_ob_table = pd.DataFrame()

In [402]:
final_smb_ob_table

    BreakID_OB  BreakID_SMB
0   1142907026   1614919143
1   1648521147   1619955290
2   1450751738   1607087055
3   1648520828   1585909026
4   1125274182   1585906728
5   1614919004   1591265054
6   1467755196   1634293200
7   1502010415   1648511664
8   1359111829   1607087464
9   1182059803   1642682859
10  1232439986   1648512573
11  1643036357   1591283799
12  1401930525   1617823300
13  1414057329   1622223833
14  1648523441   1651109548
15  1450751145   1593839898
16  1523627766   1648515877
17  1648523049   1646618221
18  1570417282   1651109289
19  1648500768   1639948313
20  1651172606   1624766735
21  1651172643   1624766736
22  1651519203   1625346377
23  1651519207   1649708272
24  1648500759   1610425426
25  1651172634   1624766738