In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("temp_predict.csv")

In [3]:
data.head()

,Unnamed: 0,BreakID,Status,Currency,Custodian Account,ISIN,Transaction Type,Trade Date,Settle Date,CUSIP,...,Trade Expenses Difference Absolute,Accounting OTE Custodian Account,B-P OTE Custodian Account,OTE Custodian Account Difference,OTE Custodian Account Difference Absolute,Accounting LoanX ID,B-P LoanX ID,LoanX ID Difference,LoanX ID Difference Absolute,ID
0,0,267406512.0,SMR,GBP,ACI_OKR1_UMB,GB00B63QSB39,Buy,11-16-2018,11-20-2018,NaN,...,0.0,NaN,NaN,False,False,NaN,NaN,False,False,5bf50f8a15545803e46c0e16
1,1,267406513.0,SMR,EUR,ACI_OKR1_UMB,ES0130625512,Sell,11-16-2018,11-20-2018,NaN,...,0.0,NaN,NaN,False,False,NaN,NaN,False,False,5bf50f8a15545803e46c0e17
2,2,267406515.0,SMR,EUR,ACI_OKR1_UMB,NL0000387058,Sell,11-16-2018,11-20-2018,NaN,...,0.0,NaN,NaN,False,False,NaN,NaN,False,False,5bf50f8a15545803e46c0e18
3,3,267406516.0,SMR,EUR,ACI_OKR1_UMB,DE0005419105,Sell,11-16-2018,11-20-2018,NaN,...,0.0,NaN,NaN,False,False,NaN,NaN,False,False,5bf50f8a15545803e46c0e19
4,4,267406517.0,SMR,EUR,ACI_OKR1_UMB,IT0003073266,Sell,11-16-2018,11-20-2018,NaN,...,0.0,NaN,NaN,False,False,NaN,NaN,False,False,5bf50f8a15545803e46c0e1a

In [4]:
data.dropna()

Empty DataFrame
Columns: [Unnamed: 0, BreakID, Status, Currency, Custodian Account, ISIN, Transaction Type, Trade Date, Settle Date, CUSIP, Description, Investment ID, SEDOL, Ticker, Underlying Cusip, Underlying Investment ID, Underlying ISIN, Underlying Sedol, Underlying Ticker, Fund, Transaction ID, Cancel Amount, Accounting Net Amount, B-P Net Amount, Net Amount Difference, Net Amount Difference Absolute, Account Type, Portolio, Portfolio ID, Custodian, PB Account Numeric, Asset Type Category, Business Date, Cancel Flag, Investment Type, Prime Broker, Quantity, Strategy, Price, Commission, Transaction Category, Value Date, ExpiryDate, UserTran1, UserTran2, Knowledge Date, Prior Knowledge Date, Non Trade Description, Base Net Amount, Base Currency, Break Tag, Department, Group, Strike Price, ETL Package Code, ETL File Code, Activity Code, Sec Fees, FX Rate, OTE Ticker, OTEIncludeFlag, Call Put Indicator, Bloomberg_Yellow_Key, Custom 1, Custom 2, Custom 3, Custom 4, Custom 5, Custom 6, Custom 7, Custom 8, Custom 9, Custom 10, Custom 11, Custom 12, Custom 13, Custom 14, Custom 15, Principal Amount, Interest Amount, Trade Expenses, OTE Custodian Account, LoanX ID, Base Closing Balance, Closing Balance, Closing Date, PB Account, Alt ID 1, Balance FX Rate, Custom 16, Custom 17, Custom 18, Custom 19, Custom 20, Principal Balance, Interest Balance, PB Account Number, Account Name, Fund Structure, _ID, ...]
Index: []

[0 rows x 430 columns]

In [5]:
data.head()

,Unnamed: 0,BreakID,Status,Currency,Custodian Account,ISIN,Transaction Type,Trade Date,Settle Date,CUSIP,...,Trade Expenses Difference Absolute,Accounting OTE Custodian Account,B-P OTE Custodian Account,OTE Custodian Account Difference,OTE Custodian Account Difference Absolute,Accounting LoanX ID,B-P LoanX ID,LoanX ID Difference,LoanX ID Difference Absolute,ID
0,0,267406512.0,SMR,GBP,ACI_OKR1_UMB,GB00B63QSB39,Buy,11-16-2018,11-20-2018,NaN,...,0.0,NaN,NaN,False,False,NaN,NaN,False,False,5bf50f8a15545803e46c0e16
1,1,267406513.0,SMR,EUR,ACI_OKR1_UMB,ES0130625512,Sell,11-16-2018,11-20-2018,NaN,...,0.0,NaN,NaN,False,False,NaN,NaN,False,False,5bf50f8a15545803e46c0e17
2,2,267406515.0,SMR,EUR,ACI_OKR1_UMB,NL0000387058,Sell,11-16-2018,11-20-2018,NaN,...,0.0,NaN,NaN,False,False,NaN,NaN,False,False,5bf50f8a15545803e46c0e18
3,3,267406516.0,SMR,EUR,ACI_OKR1_UMB,DE0005419105,Sell,11-16-2018,11-20-2018,NaN,...,0.0,NaN,NaN,False,False,NaN,NaN,False,False,5bf50f8a15545803e46c0e19
4,4,267406517.0,SMR,EUR,ACI_OKR1_UMB,IT0003073266,Sell,11-16-2018,11-20-2018,NaN,...,0.0,NaN,NaN,False,False,NaN,NaN,False,False,5bf50f8a15545803e46c0e1a